body {
	background-color: lightsalmon;
}

article {
	/* background-color: #fff; */
	margin: 0 40px;
	padding: 0 40px;
}

nav {
	display: flex;
	position: sticky;
	top: 0;
}

nav button {
	border: none;
	background-color: #641d00;
	box-shadow: 0 5px 10px black;
	color: #fff;
	cursor: pointer;
	/* display: inline; */
	flex-grow: 1;
	font-size: 14px;
	height: 50px;
}

h1 {
	text-align: center;
	font-size: 48px;
}

h2 {
	font-size: 36px;
	margin-left: 40px;
}

hr {
	height: 5px;
	background-color: #641d00;
	border: none;
	box-shadow: 5px 5px 10px black;
}